Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [1]:
-- Run this code to save the CSV file as students
SELECT * 
FROM 'students.csv';

SyntaxError: invalid syntax (1648094031.py, line 1)

In [ ]:
SELECT inter_dom, ROUND(AVG(todep),2) AS average_phq, ROUND(AVG(tosc),2) AS average_scs, Round(AVG(toas),2) AS average_as, gender, stay, 
FROM students.csv
GROUP BY inter_dom, age, gender, stay
ORDER BY gender ASC, age ASC;

   inter_dom  average_phq  average_scs  average_as  gender  stay
0      Inter         4.67        37.33       70.67  Female   1.0
1      Inter         8.00        19.00      112.00  Female   2.0
2        Dom         7.38        39.00       61.13  Female   1.0
3      Inter         9.40        34.10       79.55  Female   1.0
4      Inter         8.67        31.33       89.67  Female   2.0
..       ...          ...          ...         ...     ...   ...
75     Inter        10.00        35.00       42.00    Male   6.0
76     Inter         2.00        48.00       39.00    Male   1.0
77     Inter         1.00        48.00       54.00    Male   1.0
78     Inter         3.00        48.00       51.00    Male   2.0
79      None          NaN          NaN         NaN    None   NaN

[80 rows x 6 columns]

In [ ]:
-- summarize The Domestic statistics of diagnostic score for each age and gender
SELECT COUNT(inter_dom) AS count_dom , ROUND(AVG(todep),2) AS average_phq, ROUND(AVG(tosc),2) AS average_scs, Round(AVG(toas),2) AS average_as, age, gender, stay
FROM students.csv
GROUP BY inter_dom, age, gender, stay
HAVING inter_dom = 'Dom'
ORDER BY gender ASC, age ASC;

    count_dom  average_phq  average_scs  average_as  age  gender  stay
0           8         7.38        39.00       61.13   18  Female     1
1           2         7.50        36.50       72.00   19  Female     2
2           4         9.50        38.75       63.25   19  Female     1
3           4         8.50        35.75       75.00   20  Female     2
4           1        12.00        28.00       66.00   20  Female     1
5           2        19.50        26.00       67.00   20  Female     3
6           1         8.00        27.00       74.00   21  Female     4
7          12         7.75        39.67       56.42   21  Female     3
8           1         5.00        28.00       44.00   22  Female     1
9           1         2.00        48.00       50.00   22  Female     3
10          3         6.67        40.00       56.33   22  Female     4
11          1        10.00        28.00       75.00   23  Female     3
12          1        10.00        36.00       67.00   24  Female     5
13          1        12.00        47.00       81.00   27  Female     2
14          1        16.00        34.00       90.00   18    Male     1
15          4         9.00        34.50       68.50   19    Male     1
16          4         8.00        40.75       57.75   20    Male     2
17          6         7.33        41.17       55.00   20    Male     3
18          1        11.00        24.00       96.00   21    Male     4
19          1         6.00        48.00       69.00   21    Male     3
20          2        15.00        28.00       54.00   21    Male     2
21          1         8.00        48.00       36.00   21    Male     1
22          2         5.50        41.00       56.00   22    Male     4
23          1        13.00        32.00      109.00   23    Male     5
24          2         6.50        38.50       66.00   23    Male     4

In [ ]:
--summarize The Domestic statistics of International score for each age and gender
SELECT COUNT(inter_dom) AS count_dom , ROUND(AVG(todep),2) AS average_phq, ROUND(AVG(tosc),2) AS average_scs, Round(AVG(toas),2) AS average_as, age, gender, stay
FROM students.csv
GROUP BY inter_dom, age, gender, stay
HAVING inter_dom = 'Inter' 
ORDER BY gender ASC, age DESC, stay DESC;

    count_dom  average_phq  average_scs  average_as  age  gender  stay
0           3         6.67        42.00       90.00   31  Female     1
1           2        11.00        41.50      109.00   30  Female     2
2           1         6.00        40.00       74.00   30  Female     1
3           3         4.67        41.33       66.67   29  Female     1
4           2         4.00        34.50       87.00   28  Female     1
5           1        10.00        44.00       65.00   25  Female     8
6           1         7.00        36.00      109.00   25  Female     4
7           1         2.00        48.00       64.00   24  Female     3
8           1        10.00        32.00      108.00   23  Female     4
9           3         9.67        31.00       83.33   23  Female     3
10          2         6.50        35.00       52.50   22  Female     4
11          7         9.57        36.57       80.86   22  Female     3
12          1         9.00        31.00       86.00   22  Female     2
13          1        13.00        32.00       50.00   21  Female    10
14          4        11.75        27.00       95.25   21  Female     4
15         14        10.50        37.57       85.93   21  Female     3
16          4         8.75        40.00       73.50   21  Female     2
17          2         5.00        41.00       63.00   21  Female     1
18          4         9.25        35.50       72.25   20  Female     3
19         16         8.06        37.75       75.44   20  Female     2
20          6         4.83        40.17       64.50   20  Female     1
21          3         8.67        31.33       89.67   19  Female     2
22         22         7.77        39.68       72.68   19  Female     1
23          1         8.00        19.00      112.00   18  Female     2
24         20         9.40        34.10       79.55   18  Female     1
25          3         4.67        37.33       70.67   17  Female     1
26          1         3.00        48.00       51.00   31    Male     2
27          1         1.00        48.00       54.00   29    Male     1
28          1         2.00        48.00       39.00   28    Male     1
29          1        10.00        35.00       42.00   27    Male     6
30          1         4.00        48.00       45.00   25    Male     7
31          1         2.00        41.00       51.00   25    Male     6
32          2        11.00        28.00      115.00   25    Male     4
33          2         0.50        39.50       68.50   25    Male     3
34          1         9.00        32.00       90.00   25    Male     1
35          1         6.00        38.00       83.00   24    Male     6
36          1         0.00        34.00       91.00   24    Male     5
37          1         4.00        46.00       78.00   24    Male     2
38          2         8.00        44.00       65.00   24    Male     1
39          2         8.00        43.50       72.00   23    Male     3
40          4        13.75        23.50       89.50   23    Male     2
41          2         3.00        39.00       57.50   23    Male     1
42          1         6.00        41.00       75.00   22    Male     3
43          3         7.33        45.33       51.33   22    Male     2
44          3         6.33        44.33       63.67   21    Male     4
45          9         8.78        37.78       63.89   21    Male     3
46          2         5.00        45.50       57.00   21    Male     1
47          3        11.33        32.00       95.00   20    Male     3
48          2         2.50        45.00       56.50   20    Male     2
49          3         5.33        42.00       70.00   20    Male     1
50          1         5.00        41.00       89.00   19    Male     2
51         15         9.60        36.40       72.07   19    Male     1
52          1         2.00        40.00      104.00   18    Male     4
53          6         7.83        35.67       75.00   18    Male     1

In [ ]:
--See the impact of length of stay on the international students
SELECT  stay, ROUND(AVG(todep),2) AS average_phq, ROUND(AVG(tosc),2) AS average_scs, ROUND(AVG(toas),2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;

   stay  average_phq  average_scs  average_as
0  10.0        13.00        32.00       50.00
1   8.0        10.00        44.00       65.00
2   7.0         4.00        48.00       45.00
3   6.0         6.00        38.00       58.67
4   5.0         0.00        34.00       91.00
5   4.0         8.57        33.93       87.71
6   3.0         9.09        37.13       78.00
7   2.0         8.28        37.08       77.67
8   1.0         7.48        38.11       72.80